{% load thumbnail %}

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      {% if instance.brand_image %}
        <img src="{{ instance.brand_image.url }}" width="112" height="28">
      {% else %}
        {{ instance.brand_text }}
      {% endif %}
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      </div>

    <div class="navbar-end">
      {% for item in items %}
        <a class="navbar-item" href="{{ item.href }}">
          {{ item.text }}
        </a>
      {% endfor %}
    </div>
  </div>
</nav>